/* Estilos CSS */
body {
    background-color: var(--botao-indigo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3B1265;
    font-family: Inter;
    font-weight: lighter;
}

.retangulo {
    width: 800px; /* Ajuste o tamanho conforme necess치rio */
    height: 500px; /* Ajuste o tamanho conforme necess치rio */
    flex-shrink: 0;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
}

.retangulo_roxo {
    width: 50%; /* Ajuste o tamanho conforme necess치rio */
    height: 100%;
    flex-shrink: 0;
    border-radius: 15px 0px 0px 15px;
    background: linear-gradient(180deg, #5D1B9E 0%, #5D1B9E 0.01%, #483D8B 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 { 
    position: relative;
    font-size: 18px;   
    color: indigo;
    text-align: left;
    margin: 0;
    bottom: 10px;
    left: 10px;  
    font-weight: lighter;
}



span {
    white-space: pre;
    color: indigo;
    display: block;
    
}


h2 {
    font-size: 22px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: silver;
    font-weight: lighter;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 25px;
}


.formulario {
    width: 50%; /* Ajuste o tamanho conforme necess치rio */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
 /* Centraliza vertical e horizontalmente */
}

label {
    color: silver;
    text-align: left;
}

input.input-padrao,
label {
    display: block; /* Faz com que cada elemento ocupe uma linha separada */
    margin: 0 100px;
    border: none;
}

input.input-padrao {
    width: 50%;
    padding: 10px;
    margin: 8px 100px;
    background-color: silver;
}

a.link__esqueci {
    display: block;
    text-align: center;
    color: indigo;
    margin-left: 25px;
}

.mensagem-erro {
    position: relative;
    font-size: 13px;
    top: 50px;
    color: red;
    left: 15px;
}

input.Entrar {
    margin-top: 50px;
    background-color: indigo;
    color: white;
    padding: 10px;
    width: 40%;
    border-radius: 8px;
    border: none;
    margin-left: 130px;
}

a.container__botao {
    display: block;
    text-align: center;
    background-color: var(--botao-indigo);
    color: indigo;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 25px;
}

img {
    width: 300px;
    height: 100px;
}


@media only screen and (max-width: 600px) {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .retangulo {
        width: 700px;
        height: 500px;
        margin-left: 300px;
    }

    .retangulo_roxo {
        width: 0;
    }

    h1 {
        text-align: center;
    }

    img {
        margin-bottom: 700px;
        margin-left: 400px;
    }

    .formulario {
        margin: 0 10px;
    }
}


